{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stagiaires list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stagiaire in stagiaires %}
            <tr>
                <td><a href="{{ path('stagiaires_show', { 'id': stagiaire.id }) }}">{{ stagiaire.id }}</a></td>
                <td>{{ stagiaire.nom }}</td>
                <td>{{ stagiaire.prenom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('stagiaires_show', { 'id': stagiaire.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('stagiaires_edit', { 'id': stagiaire.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stagiaires_new') }}">Create a new stagiaire</a>
        </li>
    </ul>
{% endblock %}
