{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stagiaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stagiaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ stagiaire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ stagiaire.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stagiaires_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('stagiaires_edit', { 'id': stagiaire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
