{% extends 'base.html.twig' %}

{% block body %}
    <h1>Maitresdestages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomentreprise</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for maitresDeStage in maitresDeStages %}
            <tr>
                <td><a href="{{ path('maitresdestage_show', { 'id': maitresDeStage.id }) }}">{{ maitresDeStage.id }}</a></td>
                <td>{{ maitresDeStage.nomEntreprise }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('maitresdestage_show', { 'id': maitresDeStage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('maitresdestage_edit', { 'id': maitresDeStage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('maitresdestage_new') }}">Create a new maitresDeStage</a>
        </li>
    </ul>
{% endblock %}
