{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stagiairescompetence</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stagiairesCompetence.id }}</td>
            </tr>
            <tr>
                <th>Validationstagiaire</th>
                <td>{% if stagiairesCompetence.validationStagiaire %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Notestagiaire</th>
                <td>{{ stagiairesCompetence.noteStagiaire }}</td>
            </tr>
            <tr>
                <th>Competencestagiaire</th>
                <td>{{ stagiairesCompetence.competenceStagiaire }}</td>
            </tr>
            <tr>
                <th>Validationmaitredestage</th>
                <td>{% if stagiairesCompetence.validationMaitreDeStage %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Notemaitredestage</th>
                <td>{{ stagiairesCompetence.noteMaitreDeStage }}</td>
            </tr>
            <tr>
                <th>Validationresponsable</th>
                <td>{% if stagiairesCompetence.validationResponsable %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Competencemaitredestage</th>
                <td>{{ stagiairesCompetence.competenceMaitreDeStage }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stagiairescompetences_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('stagiairescompetences_edit', { 'id': stagiairesCompetence.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
