{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Mail</th>
                <th>Passwordhash</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('utilisateurs_show', { 'id': utilisateur.id }) }}">{{ utilisateur.id }}</a></td>
                <td>{{ utilisateur.mail }}</td>
                <td>{{ utilisateur.passwordHash }}</td>
                <td>{{ utilisateur.role }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('utilisateurs_show', { 'id': utilisateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('utilisateurs_edit', { 'id': utilisateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateurs_new') }}">Create a new utilisateur</a>
        </li>
    </ul>
{% endblock %}
